* {
  padding: 0;
  margin: 0;
  --primary-color: #4ec0e9;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.94em;
  --top-offset: 1.74vh;
  --fall-duration: 9.226s;
  --fall-delay: 2.91s;
}
.star:nth-child(2) {
  --star-tail-length: 5.59em;
  --top-offset: 13.47vh;
  --fall-duration: 10.513s;
  --fall-delay: 2.037s;
}
.star:nth-child(3) {
  --star-tail-length: 5.06em;
  --top-offset: 44.09vh;
  --fall-duration: 7.291s;
  --fall-delay: 4.478s;
}
.star:nth-child(4) {
  --star-tail-length: 5.3em;
  --top-offset: 67.4vh;
  --fall-duration: 8.776s;
  --fall-delay: 4.162s;
}
.star:nth-child(5) {
  --star-tail-length: 7.24em;
  --top-offset: 86.82vh;
  --fall-duration: 11.266s;
  --fall-delay: 1.573s;
}
.star:nth-child(6) {
  --star-tail-length: 6.89em;
  --top-offset: 84.29vh;
  --fall-duration: 11.899s;
  --fall-delay: 4.179s;
}
.star:nth-child(7) {
  --star-tail-length: 6.45em;
  --top-offset: 97.46vh;
  --fall-duration: 8.41s;
  --fall-delay: 5.618s;
}
.star:nth-child(8) {
  --star-tail-length: 6.69em;
  --top-offset: 45.79vh;
  --fall-duration: 6.807s;
  --fall-delay: 7.725s;
}
.star:nth-child(9) {
  --star-tail-length: 6.91em;
  --top-offset: 79.02vh;
  --fall-duration: 10.335s;
  --fall-delay: 0.702s;
}
.star:nth-child(10) {
  --star-tail-length: 5.66em;
  --top-offset: 96.39vh;
  --fall-duration: 8.116s;
  --fall-delay: 1.477s;
}
.star:nth-child(11) {
  --star-tail-length: 5.28em;
  --top-offset: 3.35vh;
  --fall-duration: 8.202s;
  --fall-delay: 9.304s;
}
.star:nth-child(12) {
  --star-tail-length: 5.42em;
  --top-offset: 10.54vh;
  --fall-duration: 7.383s;
  --fall-delay: 8.356s;
}
.star:nth-child(13) {
  --star-tail-length: 6.66em;
  --top-offset: 94.37vh;
  --fall-duration: 11.016s;
  --fall-delay: 3.42s;
}
.star:nth-child(14) {
  --star-tail-length: 7.04em;
  --top-offset: 27.55vh;
  --fall-duration: 6.853s;
  --fall-delay: 0.961s;
}
.star:nth-child(15) {
  --star-tail-length: 6.74em;
  --top-offset: 29.04vh;
  --fall-duration: 8.327s;
  --fall-delay: 6.36s;
}
.star:nth-child(16) {
  --star-tail-length: 6.27em;
  --top-offset: 21.42vh;
  --fall-duration: 10.677s;
  --fall-delay: 3.878s;
}
.star:nth-child(17) {
  --star-tail-length: 5.02em;
  --top-offset: 88.91vh;
  --fall-duration: 6.497s;
  --fall-delay: 0.141s;
}
.star:nth-child(18) {
  --star-tail-length: 6.63em;
  --top-offset: 46.43vh;
  --fall-duration: 10.14s;
  --fall-delay: 6.734s;
}
.star:nth-child(19) {
  --star-tail-length: 7.46em;
  --top-offset: 11.06vh;
  --fall-duration: 8.159s;
  --fall-delay: 4.697s;
}
.star:nth-child(20) {
  --star-tail-length: 5.39em;
  --top-offset: 52.97vh;
  --fall-duration: 7.305s;
  --fall-delay: 2.789s;
}
.star:nth-child(21) {
  --star-tail-length: 5.03em;
  --top-offset: 42.5vh;
  --fall-duration: 10.707s;
  --fall-delay: 3.97s;
}
.star:nth-child(22) {
  --star-tail-length: 5.77em;
  --top-offset: 2.89vh;
  --fall-duration: 10.516s;
  --fall-delay: 0.682s;
}
.star:nth-child(23) {
  --star-tail-length: 7.18em;
  --top-offset: 72.91vh;
  --fall-duration: 9.529s;
  --fall-delay: 2.609s;
}
.star:nth-child(24) {
  --star-tail-length: 6.55em;
  --top-offset: 84.48vh;
  --fall-duration: 8.465s;
  --fall-delay: 9.332s;
}
.star:nth-child(25) {
  --star-tail-length: 6.71em;
  --top-offset: 29.82vh;
  --fall-duration: 9.934s;
  --fall-delay: 7.875s;
}
.star:nth-child(26) {
  --star-tail-length: 6.87em;
  --top-offset: 86.26vh;
  --fall-duration: 11.347s;
  --fall-delay: 8.77s;
}
.star:nth-child(27) {
  --star-tail-length: 7.4em;
  --top-offset: 11.24vh;
  --fall-duration: 8.481s;
  --fall-delay: 8.498s;
}
.star:nth-child(28) {
  --star-tail-length: 6.16em;
  --top-offset: 13.45vh;
  --fall-duration: 9.73s;
  --fall-delay: 6.341s;
}
.star:nth-child(29) {
  --star-tail-length: 5.01em;
  --top-offset: 74.22vh;
  --fall-duration: 9.295s;
  --fall-delay: 8.527s;
}
.star:nth-child(30) {
  --star-tail-length: 6.6em;
  --top-offset: 62.18vh;
  --fall-duration: 11.138s;
  --fall-delay: 7.329s;
}
.star:nth-child(31) {
  --star-tail-length: 6.15em;
  --top-offset: 67.81vh;
  --fall-duration: 10.819s;
  --fall-delay: 9.001s;
}
.star:nth-child(32) {
  --star-tail-length: 5.92em;
  --top-offset: 50.44vh;
  --fall-duration: 7.542s;
  --fall-delay: 3.081s;
}
.star:nth-child(33) {
  --star-tail-length: 5.27em;
  --top-offset: 14.09vh;
  --fall-duration: 11.127s;
  --fall-delay: 1.603s;
}
.star:nth-child(34) {
  --star-tail-length: 5.47em;
  --top-offset: 26.31vh;
  --fall-duration: 9.97s;
  --fall-delay: 0.116s;
}
.star:nth-child(35) {
  --star-tail-length: 5.38em;
  --top-offset: 54.61vh;
  --fall-duration: 6.89s;
  --fall-delay: 9.926s;
}
.star:nth-child(36) {
  --star-tail-length: 6.51em;
  --top-offset: 37.62vh;
  --fall-duration: 9.611s;
  --fall-delay: 0.103s;
}
.star:nth-child(37) {
  --star-tail-length: 5.42em;
  --top-offset: 57.93vh;
  --fall-duration: 9.447s;
  --fall-delay: 4.754s;
}
.star:nth-child(38) {
  --star-tail-length: 6.45em;
  --top-offset: 19.9vh;
  --fall-duration: 8.525s;
  --fall-delay: 0.344s;
}
.star:nth-child(39) {
  --star-tail-length: 7.14em;
  --top-offset: 59.7vh;
  --fall-duration: 6.021s;
  --fall-delay: 0.105s;
}
.star:nth-child(40) {
  --star-tail-length: 6.03em;
  --top-offset: 33.79vh;
  --fall-duration: 8.364s;
  --fall-delay: 7.83s;
}
.star:nth-child(41) {
  --star-tail-length: 5.15em;
  --top-offset: 92.74vh;
  --fall-duration: 6.318s;
  --fall-delay: 4.371s;
}
.star:nth-child(42) {
  --star-tail-length: 7.13em;
  --top-offset: 43.69vh;
  --fall-duration: 7.702s;
  --fall-delay: 5.998s;
}
.star:nth-child(43) {
  --star-tail-length: 6.81em;
  --top-offset: 4.05vh;
  --fall-duration: 11.432s;
  --fall-delay: 9.848s;
}
.star:nth-child(44) {
  --star-tail-length: 6.79em;
  --top-offset: 71.99vh;
  --fall-duration: 7.26s;
  --fall-delay: 0.691s;
}
.star:nth-child(45) {
  --star-tail-length: 6.24em;
  --top-offset: 44.28vh;
  --fall-duration: 8.88s;
  --fall-delay: 4.901s;
}
.star:nth-child(46) {
  --star-tail-length: 6.17em;
  --top-offset: 87.49vh;
  --fall-duration: 11.544s;
  --fall-delay: 0.179s;
}
.star:nth-child(47) {
  --star-tail-length: 6.47em;
  --top-offset: 31.5vh;
  --fall-duration: 9.559s;
  --fall-delay: 9.75s;
}
.star:nth-child(48) {
  --star-tail-length: 5.97em;
  --top-offset: 54.6vh;
  --fall-duration: 6.839s;
  --fall-delay: 7.535s;
}
.star:nth-child(49) {
  --star-tail-length: 7.43em;
  --top-offset: 87.19vh;
  --fall-duration: 8.673s;
  --fall-delay: 9.753s;
}
.star:nth-child(50) {
  --star-tail-length: 5.54em;
  --top-offset: 28.6vh;
  --fall-duration: 8.614s;
  --fall-delay: 4.369s;
}
.star::before,
.star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.red{
    color: red;
}
.containerMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index {
  z-index: 99999999;
  color: white;
  text-align: center;
}

.infoMain:hover {
  cursor: pointer;
}
.infoMain h1 {
  font-size: 2.5em;
}
.razon1, .razon2, .razon3{
    display: none;
}
.razon1 h1, .razon2 h1, .razon3 h1{
  font-size: 2.5em;
}
.razon1 h2, .razon2 h2, .razon3 h2{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}
.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img1{
    width: 100%;
    height: auto;
    margin: 5px;
}
.razon1:hover, .razon2:hover , .razon3:hover{
    cursor: pointer;
}
